 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

header {
  background: url('../images/sm-header.jpg');
  background-size: cover;
  color: #fff;
  height: em(200);
  position: relative;
  width: 100%;

  h1 {
    margin-top: 0;
  }

  span {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
