 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

.hidden {
  display: none;
}

header {
  background: url('../images/sm-header.jpg');
  background-size: cover;
  color: #fff;
  height: em(200);
  position: relative;
  width: 100%;

  h1 {
    margin-top: 0;
  }

  span {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

section {
  overflow: auto;
}

.user-login {
  background: #fff;
  border: solid 1px;
  border-radius: 3px;
  position: fixed;
  top: 10%;
  left: 10%;
  height: 400px;
  width: 80%;

  form {
    padding: rem(20);
  }

  input {
    margin-bottom: 20px;
    height: rem(30);
    width: 100%
  }

  #new-user-login {
    input {
      margin-bottom: 5px;
    }
  }

  .cancel-login {
    position: absolute;
    right: rem(10);
    bottom: rem(10);
  }
}
