<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Majestic Thai</title>

    <link rel="icon" type="image/.ico" href="favicon.ico?v1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">
      <header>
        <h1>Majestic Thai</h1>
        <span>makes you so happy yum</span>
      </header>
      <main>
      </main>
      <footer>
        <nav>
          <a href="#">Home</a>
          <a href="#">Menu</a>
          <a href="#">Place an order</a>
        </nav>
        <span>Built by NicerHugs</span>
      </footer>
    </div>

    <script type="text/template" id="homepage-menu-template">
      <h2><a href="#" alt="Menu">Menu</a></h2>
      <button class="hidden close-menu">X</button>
      <a href="#" alt="Order online" class="order-button hidden">Order online!</a>
      <ul>
      </ul>
    </script>

    <script type="text/template" id="homepage-info-template">
      <h2>Location and Hours</h2>
      <h3>Hours</h3>
      <p>Monday-Thursday: <%= weekdayHrs %></p>
      <p>Friday-Saturday: <%= weekendHrs %></p>
      <p>Sunday: <%= sundayHrs %></p>
      <h3>Location</h3>
      <p>123 Fake St, Greenville, SC 24313</p>
    </script>

    <script type="text/template" id="menu-item-template">
      <h3><%= name %></h3>
      <span>$<%= price %></span>
      <p><%= description %></p>
    </script>

    <script type="text/template" id="user-login-template">
      <form id="existing-user-login">
        <p>Please Login:</p>
        <input type="email" placeholder="you@example.com"/>
        <input type="password" placeholder="password"/>
        <input type="submit" value="login" />
      </form>
      <form id="new-user-login">
        <p>First time here?</p>
        <input type="submit" value="create an account"/>
      </form>
      <a href="#" class="cancel-login">cancel</a>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/backfire/backbone-firebase.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/menu-items.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
